page-recuperarclave {
  .item-md {
    font-size: 1.6rem;
  }
  .label-md[stacked] {
    font-size: 2rem;
  }
  .logo {
    display: block;
    margin: auto;
    max-width: 200px;
    max-height: 240px;
  }
}
